* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    left: 0;
    top: 0;
    width: 1005;
    height: 80px;
}

header h4 {
    position: absolute;
    left: 10%;
    bottom: 1rem;
    font-size: 1.6rem;

}

.intro {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #ffc107;
    transition: 1s;
}

.logo-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

}

.logo1 {
    position: absolute;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.logo1.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo1.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

.logo {
    border-radius: 50%;
    width: 70%;
    height: 70%;
    margin: 1px;
}


.NavLink {
    font-size: 1em;
    margin-left: 0.8em;
    margin-right: 0.8em;
}

.mleft {
    margin-left: 63%;
}

.mgr {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    max-height: 60px;
}

.navbg {
    background-color: white;
}







.container1 {
    background-image: url("images/peopleside.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.text {
    font-size: 3em;
    font-family: 'Cinzel', serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Londrina Outline', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
}

.social {
    text-decoration: none;
    width: 70px;
    height: 70px;
    padding: 0.5em;
    transition: width 0.5s ease-out 30ms;
}

.social:hover {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(232, 221, 12);
    /* box-shadow: 0 0 6px 3px rgb(249, 249, 26), 0 0 10px 6px #eeff00, 0 0 14px 9px #fafafa; */
    box-shadow: none;
}


.circle {
    min-height: 450px;
    border: 1px solid white;
    border-radius: 27% 27% 0% 27%;
    margin-left: 20px;
    margin-top: 10px;
}

.square {
    min-height: 400px;
    border: 1px solid white;
    border-radius: 30px;
    margin-left: 20px;
    margin-top: 10px;
}

.symbol {
    width: 80%;
    min-height: 350px;
    border-radius: 27% 27% 0 27%;
}

.content {
    padding: 1em;
    font-family: 'Cinzel', serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

.mgr2 {
    margin-left: 7%;
    margin-right: 10%;
}

h1 {

    text-align: center;
    font-size: 2em;
    font-family: monospace;
}

.containerf {
    background-color: #14213d;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
}

.f_last {
    margin: 10%;

}

#form1 {
    margin-top: 3%;
    margin-bottom: 3%;
}


@media(max-width:1200px) {
    .square {
        height: 100px;
    }

    .circle {
        height: 100px;
    }

    .symbol {
        height: 100px;
    }

    .mgr2 {
        margin-left: 5%;
        margin-right: 5%;
    }

    h1 {
        font-size: 1em;
    }
}


@media(max-width:850px) {
    .last_email {
        color: #ffc105;
    }

   
}

@media(max-width:500px) {
    .circle {
        display: none;
        margin: 0 auto;
    }

    .symbol {
        display: none;
        margin: 0 auto;
    }

    .last_email {
        color: #ffc105;
    }
}

@media(max-width:280px) {
    .content {
        font-size: 16px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .text {
        font-size: 1.5em;
    }

    .sm {
        font-size: 1em;
    }

    .social {
        width: 35px;
        height: 35px;
        padding: 0.25em;
    }

    .last_email {
        color: #ffc105;
    }
}

